:host {
  display: grid;
  row-gap: 16px;
  padding: 16px;
}

.add-btn {
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: end;
}

.delete-btn {
  margin: 10px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

