<h2 mat-dialog-title class="dialog-title">
  <mat-icon>{{ update ? 'edit' : 'person_add' }}</mat-icon>
  {{ update ? 'Edit Employee' : 'Add Employee' }}
</h2>

<mat-dialog-content>
  <form class="activity-form" [formGroup]="employeeForm">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input id="username" formControlName="username" placeholder="username" matInput />
      <mat-error *ngIf="employeeForm.get('username')?.hasError('required')">
        Please enter username
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input id="full_name" formControlName="full_name" placeholder="Full name" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input id="emial" formControlName="email_address" placeholder="Email" matInput />
      <mat-error *ngIf="employeeForm.get('email_address')?.hasError('required')">
        Please enter email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input id="mobile" formControlName="mobile" placeholder="Phone number" matInput />
      <mat-error *ngIf="employeeForm.get('mobile')?.hasError('required')">
        Please enter phone no.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telephone No</mat-label>
      <input id="telephone_number" formControlName="telephone_number" placeholder="Telephone number" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input id="title" formControlName="title" placeholder="Title" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Department</mat-label>
      <input id="department" formControlName="department" placeholder="Department" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Company</mat-label>
      <input id="company" formControlName="company" placeholder="Company" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input id="country" formControlName="country" placeholder="Country" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Street Address</mat-label>
      <input id="street_address" formControlName="street_address" placeholder="Street address" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>SAM Account</mat-label>
      <input id="sam_account" formControlName="sam_account" placeholder="SAM account" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Login</mat-label>
      <input id="login" formControlName="login" placeholder="Login" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-span">
      <mat-label>Description</mat-label>
      <input id="description" formControlName="description" placeholder="Description" matInput />
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="submit" mat-stroked-button [mat-dialog-close]>
    Cancel
  </button>
  <button
    [disabled]="!employeeForm.valid"
    class="submit"
    mat-raised-button
    color="warn"
    (click)="save()"
    [mat-dialog-close]
  >
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>
