.dialog-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  color: #212121;

  mat-icon {
    color: #c62828;
  }
}

.activity-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  min-width: 560px;
}

.full-span {
  grid-column: span 2;
}
