<h2 mat-dialog-title class="dialog-title">
  <mat-icon>{{ update ? 'edit' : 'add_business' }}</mat-icon>
  {{ update ? 'Edit Sector' : 'Add Sector' }}
</h2>

<mat-dialog-content>
  <form class="office-form" [formGroup]="sectorForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input id="name" formControlName="name" matInput placeholder="Sector name"/>
      <mat-error *ngIf="sectorForm.get('name')?.hasError('required')">
        Please enter name
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input id="description" formControlName="description" matInput placeholder="Description"/>
      <mat-error *ngIf="sectorForm.get('description')?.hasError('required')">
        Please enter description
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="submit" mat-stroked-button [mat-dialog-close]>
    Cancel
  </button>
  <button
    [disabled]="!sectorForm.valid"
    class="submit"
    mat-raised-button
    color="warn"
    (click)="save()"
    [mat-dialog-close]
  >
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>
