<mat-dialog-content>
  <form class="office-form" [formGroup]="sectorForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input id="name" formControlName="name" matInput placeholder=""/>
      <mat-error *ngIf="sectorForm.get('name')?.hasError('required')">
        Please enter name
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input id="description" formControlName="description" matInput placeholder=""/>
      <mat-error *ngIf="sectorForm.get('description')?.hasError('required')">
        Please enter description
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [disabled]="!sectorForm.valid"
    class="submit"
    mat-flat-button
    color="primary"
    (click)="save()"
    [mat-dialog-close]
  >
    Save
  </button>
  <button class="submit" mat-flat-button color="accent" [mat-dialog-close]>
    Cancel
  </button>
</mat-dialog-actions>
