<mat-dialog-content>
  <form class="stat-form" [formGroup]="statForm">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input id="name" formControlName="name" placeholder="Name" type="text" matInput />
      <mat-error *ngIf="statForm.get('name')?.hasError('required')">
        Please enter Name
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input id="description" formControlName="description" placeholder="description" type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Sector</mat-label>
      <mat-select
        formControlName="sector"
        [compareWith]="sectorComparator"
      >
        <mat-option
          *ngFor="let sector of  sectorFacade.sectors$| async "
          [value]="sector.id"
          >
          {{ sector.name }} 
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="submit" mat-flat-button color="primary" (click)="save()" [mat-dialog-close]
    [disabled]="!statForm.valid">
    Save
  </button>
  <button class="submit" mat-flat-button color="accent" [mat-dialog-close]>
    Cancel
  </button>
</mat-dialog-actions>