<mat-toolbar class="mat-toolbar" color="warn">
    <div class="brand">
        <mat-icon class="brand-icon">business</mat-icon>
        <span class="brand-name">BGI Employee Info <span class="brand-abbr">(BEI)</span></span>
    </div>

    <div class="toolbar-actions">
        <button mat-icon-button matTooltip="Notifications">
            <mat-icon>{{ notificationsRoute.icon }}</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Logout" (click)="logout()">
            <mat-icon>{{ logoutRoute.icon }}</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="sidenav" color="primary">
        <div class="sidenav-header">
            <div class="sidenav-logo">
                <mat-icon class="sidenav-logo-icon">groups</mat-icon>
            </div>
            <span class="sidenav-title">BGI Ethiopia</span>
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let link of mainNavLinks" class="nav-item">
            <a class="menu-button" mat-button [routerLink]="link.link" [routerLinkActive]="'active-link'">
                <mat-icon color="warn">{{ link.icon }}</mat-icon>
                <span>{{ link.label }}</span>
            </a>
            <mat-divider></mat-divider>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z1">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>