<!-- <form class="login-form" [formGroup]="loginForm">
    <mat-card>
        <mat-card-content align="center" class="login-fields">
            <img style="float:left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu7ISpF-G3WR4RP8Fm2unZclPQWtekZhZkZ3hteh5iol1m-ryS-9ue6hYN1mmOs8_CYpc&usqp=CAU">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input id="username" formControlName="username" matInput />
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input id="password" type="password" formControlName="password" matInput />
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="submit" mat-flat-button color="primary" (click)="login()">
        Login
      </button>
        </mat-card-actions>
    </mat-card>
</form> -->